<script language="JavaScript" type="text/JavaScript">
document.write("<table id = 'table' border='1'>");
document.write("<tr><td>Степень</td><td>Результат</td></tr>");
for (var i=0; i<=10; i++)
document.write("<tr><td>2^"+i+"</td><td>" + Math.pow(2,i) + "</td></tr>");
</script>